<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Class Name  : ScheduleMapper.xml
  Description : 스케줄 매퍼
  Modification Information

       수정일                     수정자              수정내용
    ────────────   ─────────   ───────────────────────────────
    2017. 3. 24.   남준호              최초생성

  @author 남준호
  @since 2017. 3. 24.
  @version 1.0

  Copyright (C) 2017 by MyHeart All right reserved.
-->
<mapper namespace="com.myheart.iylm.mapper.ScheduleMapper">
    <resultMap id="scheduleVo" type="com.myheart.iylm.vo.ScheduleVo" >
        <result property="schNo"        column="sch_no" />
        <result property="startDt"      column="start_dt" />
        <result property="endDt"        column="end_dt" />
        <result property="timeDivision" column="time_division" />
        <result property="pushTime"     column="push_time" />
    </resultMap>

    <sql id="selectSearchWhere">

    </sql>

    <select id="selectList" resultMap="scheduleVo">
        SELECT  *
        FROM    tb_schedule
    </select>
    
</mapper>