<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myheart.iylm.mapper.UserMapper">

<insert id="insertUser">
	INSERT INTO tb_user(USER_ID, SNS_ID, SNS_TYPE, USERNAME, PASSWORD, PHONE_NUM, EMAIL, REG_DT) 
	VALUES(#{userId}, #{snsId},#{snsType},#{userName},#{password},#{phoneNum},#{email},#{reqDt})
</insert>

	<resultMap id="selectUserInfo" type="com.myheart.iylm.vo.UserVo">
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id" />
		<result property="snsId" column="sns_id" />
		<result property="snsType" column="sns_type" />
		<result property="userName" column="username" />
		<result property="password" column="password" />
		<result property="phoneNum" column="phone_num" />
		<result property="email" column="email" />
		<result property="reqDt" column="reg_dt" />
	</resultMap>

	<select id="selectUserList" resultMap="selectUserInfo">
		SELECT * FROM tb_user
	</select>
	
	<select id="searchUserListById" parameterType="map" resultType="hashmap">
		SELECT * FROM tb_user WHERE user_id = #{userId}
	</select>
	
	<select id="loginUserChkIdPass" parameterType="map" resultType="int">
 		select count(*) as count from tb_user
 		where user_id = #{userId}
 		and password = #{password}
 	</select>

	

</mapper>
     