<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myheart.iylm.mapper.UserMapper">

	<insert id="insertUser">
		INSERT INTO tb_user (
			user_id
			,sns_id
			,sns_type
			,username
			,password
			,phone_num
			,email
			,reg_dt
		) VALUES (
			#{userId}
			,#{snsId}
			,#{snsType}
			,#{userName}
			,#{password}
			,#{phoneNum}
			,#{email}
			,CURTIME()
		)
	</insert>
	
	<insert id="insertSnsUser">
		INSERT INTO tb_sns (
			sns_id
			,sns_type
			,username
			,email
			,reg_dt
		) VALUES (
			#{snsId}
			,#{snsType}
			,#{userName}
			,#{email}
			,CURTIME()
		)
	</insert>
	
	
	
	

	<resultMap id="selectUserInfo" type="com.myheart.iylm.vo.UserVo">
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="snsId" column="sns_id" />
		<result property="snsType" column="sns_type" />
		<result property="userName" column="username" />
		<result property="password" column="password" />
		<result property="phoneNum" column="phone_num" />
		<result property="email" column="email" />
		<result property="reqDt" column="reg_dt" />
	</resultMap>

	<select id="selectUserList" resultMap="selectUserInfo">
		SELECT	*	
		FROM	tb_user
	</select>
	
	<resultMap id="selectSnsUserInfo" type="com.myheart.iylm.vo.UserSnsVo">
		<result property="userNo" column="user_no" />
		<result property="snsId" column="sns_id" />
		<result property="snsType" column="sns_type" />
		<result property="userName" column="username" />
		<result property="email" column="email" />
		<result property="reqDt" column="reg_dt" />
	</resultMap>
	
	<select id="selectSnsUserList" resultMap="selectSnsUserInfo">
		SELECT *
		FROM	tb_sns
	</select>
	
	<select id="searchSnsUserListById" parameterType="String" resultType="hashmap">
		SELECT	*	
		FROM	tb_sns 
		WHERE	sns_id		= #{snsId}
	</select>
	
	<select id="searchSnsUserListByEmail" parameterType="String" resultType="hashmap">
		SELECT	*	
		FROM	tb_sns 
		WHERE	email		= #{email}
	</select>

	<select id="searchUserListById" parameterType="map" resultType="hashmap">
		SELECT	*	
		FROM	tb_user 
		WHERE	user_id		= #{userId}
	</select>
	
	<select id="searchUserListByEmail" parameterType="String" resultType="hashmap">
		SELECT	*	
		FROM	tb_user 
		WHERE	email		= #{email}
	</select>

	<select id="loginUserChkIdPass" parameterType="map" resultType="int">
		SELECT COUNT(*) AS count 
		FROM	tb_user
		WHERE	user_id		= #{userId}
		AND		password	= #{password}
	</select>
	
	<update id="mergeAccount" parameterType="map">
		UPDATE tb_user 
		SET			user_id 	= #{userId}
					,password	= #{password}
					,phone_num = #{phoneNum} 
		WHERE 	sns_id 		= #{snsId} 
	</update>

</mapper>
     